header .navNuevo {
  background-color: #FFF89A;
  font-size: 20px;
  border-bottom: solid #FFFDDE;
}

header .navNuevo {
  font-family: "Text Me One", sans-serif;
  display: flex;
  justify-content: flex-end;
}
header .navNuevo .container-fluid .logoNavbar {
  height: 90px;
}

.navbar-nav .opcionesNav:hover {
  text-decoration: underline;
}

/* RESETEO UNIVERSAL*/
* {
  margin: 0%;
  padding: 0%;
}

/* LOGO FIJO WP */
.logoWapp2 {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 2;
}

@media screen and (max-width: 450px) {
  .logoWapp2 {
    display: none;
  }
}
/* Mapas */
/*FOOTER*/
.pieDePagina {
  font-family: "Text Me One", sans-serif;
  font-size: 17px;
  background-color: #FFF89A;
  text-align: center;
  color: black;
  border-top: solid #FFFDDE;
  max-width: 100vw;
  height: auto;
}
.pieDePagina .tituloContacto {
  padding-top: 15px;
  font-family: "tipografianueva";
}
.pieDePagina .tituloContacto .textoDeContacto {
  padding-top: 20px;
}

/* logos redes sociales */
.logosDeContacto {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  padding: 10px;
}
.logosDeContacto .logosIndividuales {
  width: 45px;
  height: 45px;
  padding: 4px;
}

/* FUENTES */
@font-face {
  font-family: "tipografianueva";
  src: url(tipografias/tipografianueva.woff);
  font-display: swap;
}
/* Carrusel */
.tituloCarousel {
  position: absolute;
  right: 15%;
  top: 5%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.tituloCarousel .tituloInicio {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "tipografianueva";
  letter-spacing: 5px;
  line-height: 50px;
  /* ANIMACIONES TITULO INDEX*/
}
.tituloCarousel .tituloInicio:hover {
  letter-spacing: 0%;
  font-size: 35px;
  transition: all 2s;
  transform: scale(2);
}

/* TITULOS MEDIA QUERY DISPLAY NONE */
main .tituloMediaQuery {
  display: none;
}

main .subtituloIndex {
  display: none;
}

/* CARRUSEL EDIT */
main {
  background-color: #FCF7BB;
  height: auto;
}
main section .carrusel {
  padding: 1%;
}

main .tituloDos .subtituloDos {
  color: black;
  font-size: 30px;
  font-family: "tipografianueva";
  letter-spacing: 5px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* IMAGEN CARRITO */
main .imagenCarrito .carritoCompras {
  width: 80px;
  position: relative;
  left: 48%;
  padding-bottom: 2%;
}
main .imagenCarrito .carritoCompras:hover {
  transform: scale(1.3);
  transition: all 2s;
}

.contenidoPrincipal {
  display: flex;
  justify-content: center;
  background-image: url(imagenes/fondocolornuevo.png);
  background-size: cover;
  width: 100%;
  height: 750px;
}
.contenidoPrincipal section .textoDePresentacion {
  color: black;
  padding: 69px;
  font-size: 25px;
  font-family: "tipografianueva";
  position: relative;
  top: 147px;
  text-align: center;
  width: 74vw;
  background-color: rgba(252, 251, 178, 0.6901960784);
}

/*MAIN PRODUCTOS*/
.mainProductos {
  background-color: #FCF7BB;
  width: auto;
  height: auto;
  display: grid;
}
.mainProductos .tituloProductos {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "tipografianueva";
  padding-top: 20px;
}

/* GRID GALERIA PRODUCTOS */
.galeriaProductos {
  width: auto;
  height: auto;
  background-color: #FCF7BB;
  display: grid;
  grid-template-rows: 380px 380px 380px;
  grid-template-columns: 380px 380px 380px;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
}
.galeriaProductos .productosItem {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
}
.galeriaProductos .productosItem:hover {
  z-index: 2;
  width: 400px;
  height: 400px;
  transition: all 2s;
}

/*MAIN ALQUILER DE ESPACIOS*/
.mainAlquilerDeEspacios {
  background-color: #FCF7BB;
  display: flex;
  justify-content: center;
  height: auto;
  display: grid;
}
.mainAlquilerDeEspacios div .subtituloAlquiler {
  font-size: 30px;
  font-family: "tipografianueva";
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.galeria .titulosEspaciosDeAlquiler {
  text-align: center;
  font-size: 20px;
  font-family: "Text Me One", sans-serif;
  padding: 33px;
  color: black;
  padding-top: 10px;
}

/*GALERIA ALQUILER DE ESPACIOS GRID*/
.galeriaAlquiler {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: 310px 310px;
  justify-content: center;
}
.galeriaAlquiler .fotosAlquiler {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 450px) {
  /* HEADER */
  header .navNuevo .container-fluid .logoNavbar {
    height: 40px;
  }
  header .navNuevo .container-fluid .logoNavbar .opcionesMenu {
    display: flex;
    justify-items: start;
  }
  /* FOOTER */
  .pieDePagina {
    background-color: #FFF89A;
    font-family: "Text Me One", sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
    width: 100%;
    height: 50vw;
  }
  .pieDePagina .tituloContacto {
    position: relative;
  }
  .pieDePagina .tituloContacto .tituloDeContacto {
    display: flex;
    justify-content: center;
    position: relative;
    left: 1%;
  }
  /* logos redes sociales */
  .logosDeContacto {
    padding: 10px;
  }
  .logosDeContacto .logosIndividuales {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
  /* INDEX CARRUSEL MOBILE */
  main {
    height: auto;
    background-color: rgba(255, 248, 154, 0.5803921569);
  }
  main section .carrusel {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  /* TITULO MEDIA QUERY */
  main .tituloMediaQuery {
    display: flex;
    justify-content: center;
    font-family: "tipografianueva";
    font-size: 25px;
    padding-top: 7%;
  }
  /* SUBTITULO MEDIAQUERY */
  main .tituloDos .subtituloDos {
    display: flex;
    justify-content: center;
    font-family: "tipografianueva";
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
  }
  /* IMAGEN CARRITO MEDIA QUERY*/
  main .imagenCarrito .carritoCompras {
    width: 50px;
    position: relative;
    left: 45%;
    padding-bottom: 8%;
  }
  /* NOSOTROS MOBILE */
  .contenidoPrincipal {
    width: 100vw;
    background-image: url(imagenes/fotomobilenosotros.png);
    padding: 0%;
    height: auto;
  }
  .contenidoPrincipal section .textoDePresentacion {
    font-size: 20px;
    top: 20px;
    padding: 0%;
    height: 150vw;
    padding-top: 30%;
    background-color: transparent;
  }
  /* PRODUCTOS MOBILE */
  .mainProductos .tituloProductos {
    padding-top: 5%;
    display: flex;
    text-align: center;
    font-size: 25px;
    line-height: 2;
  }
  /* GRID GALERIA PRODUCTOS */
  .galeriaProductos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    padding: 3%;
    justify-items: center;
  }
  .galeriaProductos .productosItem {
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
  }
  /* ALQUILER DE ESPACIOS MOBILE */
  .mainAlquilerDeEspacios div .subtituloAlquiler {
    font-size: 20px;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 0px;
  }
  .galeria .titulosEspaciosDeAlquiler {
    font-size: 18px;
    position: relative;
    right: 0px;
  }
  /*GALERIA ALQUILER DE ESPACIOS GRID*/
  .galeriaAlquiler {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    position: relative;
    right: 0;
  }
  /* CONTACTO MOBILE */
  .mainContacto .tituloSeccionContacto {
    text-size-adjust: 25px;
  }
}
/* RESPONSIVE TABLET */
@media screen and (min-width: 451px) and (max-width: 960px) {
  /* FOOTER */
  .pieDePagina {
    height: auto;
  }
  /* PRODUCTOS TABLET*/
  .mainProductos .tituloProductos {
    font-size: 20px;
    padding-right: 10%;
    padding-top: 5%;
  }
  /* GRID GALERIA PRODUCTOS */
  .galeriaProductos {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 230px 230px;
    width: 91vw;
    padding: 2%;
  }
  .galeriaProductos .productosItem {
    width: 230px;
    height: 230px;
    display: flex;
  }
  /* ALQUILER DE ESPACIOS MOBILE */
  .mainAlquilerDeEspacios div .subtituloAlquiler {
    font-size: 15px;
    text-align: center;
    width: 95vw;
    position: relative;
    left: 0px;
  }
  .galeria .titulosEspaciosDeAlquiler {
    font-size: 10px;
    width: 100vw;
    position: relative;
    right: 12px;
    line-height: 2;
  }
  /*GALERIA ALQUILER DE ESPACIOS GRID*/
  .galeriaAlquiler {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;
    justify-items: center;
    position: relative;
    right: 12px;
  }
  .galeriaAlquiler .fotosAlquiler {
    width: 180px;
    height: 180px;
  }
}
/* Mapas */
header .navNuevo {
  background-color: #FFF89A;
  font-size: 20px;
  border-bottom: solid #FFFDDE;
}

.mainContacto {
  background-color: #FCF7BB;
  width: auto;
  height: auto;
}
.mainContacto .tituloSeccionContacto {
  margin: 0;
  font-family: "tipografiaNueva";
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* FORMULARIO */
form .formularioContacto {
  text-align: center;
  padding: 3%;
}
form .formularioContacto .opcionFormulario {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  height: 35px;
}

form .boton {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
form .boton .botonEnviar {
  position: relative;
  top: 1%;
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  color: black;
  border: solid 2px #ffffff;
}
form .boton .botonEnviar:hover {
  background-color: rgba(255, 255, 0, 0.548);
}

/* RESETEO UNIVERSAL*/
* {
  margin: 0%;
  padding: 0%;
}

.mainCarritoDeCompras .carritoMain {
  display: flex;
  font-family: "tipografiaNueva";
  text-align: center;
  width: 100vw;

}
.mainCarritoDeCompras .carritoMain .gridCarrito {
  -webkit-box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  margin: 2%;
}
.mainCarritoDeCompras .carritoMain .gridCarrito .imagenesCarrito {
  margin: auto auto;
  width: 200px;
  height: 200px;
  left: 20px;
}

.mainCarritoDeCompras .carritoMain .gridCarrito {
  display: grid;
  columns: 3;
}
.mainCarritoDeCompras .carritoMain .gridCarrito .contenedor .btnCarrito {
  margin: 3%;
  color: black;
  background-color: rgba(255, 255, 0, 0.63);
}

.mainCarritoDeCompras .titulo {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
.mainCarritoDeCompras .titulo .tituloCarrito {
  font-family: "tipografiaNueva";
}


/*EDICION ELEMENTOS JAVA*/
.parrafoBienvenida2 {
  font-family: "tipografiaNueva";
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.mensajeEnviar2 {
  font-family: "tipografiaNueva";
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 0%;

}
#areaDeMensaje {
  font-family: "tipografiaNueva";
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 0%;
}
 /*EDICION FORMULARIO*/
.formularioDeBienvenida2 {
  display: flex;
  justify-content: center;
  
}
.nombreBienvenida {
  height: 25px;
  padding: 4px;
}
 .opcionFormularioBienvenida {
  font-family: "tipografiaNueva";
  font-size: 20px;

 }
.botonBienvenida {
  display: flex;
  justify-content: center;
  font-family: "tipografiaNueva";
  font-size: 10px;
  padding: 4px;
  
 
}

.carritoMain {
  display: flex;
  font-family: "tipografiaNueva";
  text-align: center;
  justify-content: center;

}

.iconoCarrito {
  width: 40px;
  position: relative;
  
}

.imagenCarritoPadre {
  display: flex;
  justify-content: flex-end;
  width: 50%;

}

/*EDICION CARRITO*/
.tituloCarrito {
  font-family: "tipografiaNueva";
  display: flex;
  justify-content: center;
}

.textoCarrito {
  font-family: "tipografiaNueva";
  display: flex;
  justify-content: center;
}

.tituloCarritoCard {
  font-family: "tipografiaNueva";
  display: flex;
  justify-content: center;
}

.carritoNuevo {
  font-family: "tipografiaNueva";
  display: flex;
  justify-content: center;
}

.btnEliminar {
  margin: 3%;
  color: black;
  background-color:bisque;
 font-family: "tipografiaNueva";
 display: flex;
 justify-content: center;
}

.textoCarritoVacio {
  font-family: "tipografiaNueva";
 display: flex;
 justify-content: center;
 font-size: 25px;
 margin: 0%;
 padding: 2%;
}
.botonVolver {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.btnVolver {
  margin: 0;
  color: black;
  background-color:bisque;
 font-family: "tipografiaNueva";
 
}

.seccionCarrito {
  background-color: rgba(255, 255, 0, 0.582);
  color: black;
}

#imagenesdelCarrito {
  margin: auto auto;
  width: 200px;
  height: 200px;
  left: 20px;
}

.cajaResumen {
  display: flex;
  justify-content: center;
  
}

.tituloResumen {
  font-family: "tipografiaNueva";
  font-size: 20px;

}

.textoResumen {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;

}

.btnComprar {
  margin: 0;
  color: black;
  background-color:bisque;
 font-family: "tipografiaNueva";
 width: 120px;
}

.cajaBotonComprar {
  display: flex;
  justify-content: center;
  

}

#seccionResumenDePago {
  background-color: #f3ea6d;
  padding: 2%;

}

#productosAgregados {
  padding: 2%;
}

/*# sourceMappingURL=style.css.map */
