/* RESETEO UNIVERSAL*/
* {
    margin: 0%;
    padding: 0%;
}

/* HEADER */

.navNuevo {
    background-color: #FFF89A;
    font-family: 'Text Me One', sans-serif;
    font-size: 20px;
    border-bottom: solid #FFFDDE;

}

.opcionesMenu {
    display: flex;
    justify-content: end;

}

.logoNavbar {
    width: 140px;
    height: 100px;
}

/* MAIN INICIO */
@font-face {
    font-family: "tipografia2";
    src: url(tipografias/tipografia2.woff);
}

.logoWapp2 {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 5%;
    right: 5%;
}


.tituloInicio {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "tipografia2";
    letter-spacing: 5px;
    line-height: 50px;

}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 5%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;

}

/*FOOTER*/
.pieDePagina {
    background-color: #FFF89A;
    font-family: 'Text Me One', sans-serif;
    font-size: 17px;
    text-align: center;
    color: black;
    border-top: solid #FFFDDE;
    height: auto;

}

.textoDeContacto {
    padding-top: 15px;
}

.tituloContacto {
    padding-top: 15px;
}

.logosDeContacto {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding-top: 20px;
}

.instagram {
    width: 35px;
    height: 35px;
}

.facebook {
    width: 35px;
    height: 35px;
}

.whatsapp {
    width: 35px;
    height: 35px;
}

/*NOSOTROS*/

/*MAIN-NOSOTROS*/
.contenidoPrincipal {
    display: flex;
    justify-content: center;
    background-image: url(imagenes/fondocolornuevo.png);
    background-size: cover;
    width: 100%;
    height: 750px;

}

.titulo {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: "tipografia2";
    padding: 10px;
    position: relative;
    top: 35px;

}

.presentacionNosotros {

    color: black;
    padding: 10px;
    font-size: 25px;
    font-family: 'Text Me One', sans-serif;
    position: relative;
    top: 70px;
    text-align: center;
    width: 55vw;
    background-color: #fcfbb2b0;

}

/*PRODUCTOS*/

/* MAIN PRODUCTOS */

.mainProductos {
    background-color: #FCF7BB;
    width: auto;
    height: auto;
}

.tituloProductos {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "tipografia2";
    padding-top: 20px;

}

/*GALERIA DE PRODUCTOS-GRID*/

.galeriaProductos {
    width: auto;
    height: auto;
    background-color: #FCF7BB;
    display: grid;
    grid-template-rows: 380px 380px 380px;
    grid-template-columns: 380px 380px 380px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;

}

.productosItem {
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
}

/* MAIN ALQUILERDEESPACIOS*/

.mainAlquilerDeEspacios {
    background-color: #FCF7BB;
    display: flex;
    justify-content: center;
    height: auto;
    display: grid;

}

.subtituloAlquiler {
    font-size: 20px;
    font-family: 'Text Me One', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.titulosEspaciosDeAlquiler {
    text-align: center;
    font-size: 12px;
    font-family: "tipografia2";
    padding: 15px;
    color: black;


}

.fotosAlquiler {
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
}

/*GALERIA ALQUILER DE ESPACIOS- GRID*/

.galeriaAlquiler {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 310px 310px;
    justify-content: center;

}

/*CONTACTO*/


/* RESPONSIVE MOBILE */

@media screen and (max-width:450px) {

    /* HEADER */
    .opcionesMenu {
        justify-content: start;
    }

    /* FOOTER MOBILE */

    .pieDePagina {
        background-color: #FFF89A;
        font-family: 'Text Me One', sans-serif;
        font-size: 15px;
        text-align: center;
        color: black;
        width: 100vw;
        height: auto;

    }

    .tituloContacto {
        position: relative;
        left: 1%;
    }

    .textoDeContacto {
        display: flex;
        justify-content: center;
        position: relative;
        left: 1%;
    }

    .logosPieDePagina {
        width: 17px;
        height: 17px;
        position: relative;
        left: 70%;
    }

    /* MAIN INDEX MOBILE */

    .contenido {

        max-width: 450px;
        width: 93vw;
    }

    .logoWapp2 {

        width: 30px;
        height: 30px;
        bottom: 2%;
        right: 5%;
    }

    /* NOSOTROS MOBILE */

    .contenidoPrincipal {
        width: 100vw;
        background-image: url(imagenes/fotomobilenosotros.png);
        padding: 0%;

    }

    .titulo {
        font-size: 20px;
    }

    .presentacionNosotros {
        font-size: 20px;
        background-color: #fcd9b2ab;
        width: 66vw;
    }

    /* PRODUCTOS MOBILE */

    .galeriaProductos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100vw;
        padding: 10%
    }

    .productosItem {
        width: 350px;
        height: 350px;
        display: flex;

    }

    .tituloProductos {
        font-size: 20px;
        padding-top: 5%;
        line-height: 2;
        text-align: center;
    }

    /* ALQUILER DE ESPACIOS MOBILE */

    .tituloAlquilerDeEspacios {
        font-size: 18px;
        position: relative;
        right: 0px;
        line-height: 2;
    }

    .subtituloAlquiler {
        font-size: 15px;
        text-align: center;
        width: 100vw;
        position: relative;
        left: 0px;
    }

    .titulosEspaciosDeAlquiler {

        font-size: 10px;
        width: 100vw;
        position: relative;
        right: 12px;
        line-height: 2;

    }

    .galeriaAlquiler {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-items: center;
        position: relative;
        right: 12px;

    }

}

/* RESPONSIVE TABLET */
@media screen and (min-width:451px) and (max-width:960px) {

    /* HEADER TABLET */
    .opcionesMenu {
        justify-content: start;
    }

    /* FOOTER TABLET */

    .pieDePagina {
        background-color: #FFF89A;
        font-family: 'Text Me One', sans-serif;
        font-size: 18px;
        text-align: center;
        color: black;
        width: 100vw;
        height: auto;

    }

    .tituloContacto {
        position: relative;
        left: 1%;
    }

    .textoDeContacto {
        display: flex;
        justify-content: center;
        position: relative;
        left: 1%;
    }

    .instagram {
        width: 30px;
        height: 30px;
        position: relative;

    }

    .whatsapp {
        width: 30px;
        height: 30px;
        position: relative;

    }

    .facebook {
        width: 30px;
        height: 30px;
        position: relative;

    }

    /* PRODUCTOS TABLET */

    .galeriaProductos {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        width: 91vw;
        padding: 2%;
    }

    .productosItem {
        width: 250px;
        height: 250px;
        display: flex;

    }

    .tituloProductos {
        font-size: 20px;
        padding-right: 10%;
        padding-top: 5%;
    }

    /* ALQUILER DE ESPACIOS TABLET */

    .tituloAlquilerDeEspacios {
        font-size: 18px;
        position: relative;
        right: 0px;
        line-height: 2;
    }

    .subtituloAlquiler {
        font-size: 15px;
        text-align: center;
        width: 95vw;
        position: relative;
        left: 0px;
    }

    .titulosEspaciosDeAlquiler {

        font-size: 10px;
        width: 100vw;
        position: relative;
        right: 12px;
        line-height: 2;

    }

    .fotosAlquiler {
        width: 180px;
        height: 180px;
    }

    .galeriaAlquiler {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 10px;
        justify-items: center;
        position: relative;
        right: 12px;

    }

}


/* ANIMACIONES TITULO INDEXGIT */

.tituloInicio:hover {
    letter-spacing: 0%;
    font-size: 15px;
    transition: all 2s;
    transform: scale(2)
}