/* RESETEO UNIVERSAL*/
* {
    margin: 0%;
    padding: 0%;
}

.mainCarritoDeCompras {
    .carritoMain {
        display: flex;
        font-family: 'tipografiaNueva';
        text-align: center;

        .gridCarrito {
            -webkit-box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
            box-shadow: 2px -1px 36px -15px rgba(0, 0, 0, 0.75);
            width: 13vw;
            .imagenesCarrito {
                display: flex;
                justify-items: center;
                width: 250px;
                height: 250px;
        
                
            }
        }
    }
}

.mainCarritoDeCompras {
    .carritoMain {
        .gridCarrito {
            display: grid;
            columns: 3;

            .contenedor {
                .btnCarrito {
                    margin: 3%;
                    color: black;
                    background-color: rgba(255, 255, 0, 0.63);
                }
            }
        }
    }
}

.mainCarritoDeCompras {
    .titulo {
        display: flex;
        justify-content: center;
        padding-top: 3%;

        .tituloCarrito {
            font-family: "tipografiaNueva";
        }
    }
}

