.tituloCarrito {
    font-family: 'tipografiaNueva';
    font-size: 25px;
    text-align: center;
}

.cantainer {
    .carritoMain {
        font-family: 'tipografiaNueva';
        text-align: center;
    }
}

.resumen {
    font-family: 'tipografiaNueva';
    text-align: center;
    padding: 3px;
   
}

