.mainContacto {

    background-color: #FCF7BB;
    width: auto;
    height: auto;
    
    .tituloContacto {
        margin: 0;
        font-family: "tipografiaNueva";
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        
       
    }
}