/*FOOTER*/

.pieDePagina {

    background-color: #F6FFA4;
    font-family: 'Text Me One', sans-serif;
    font-size: 17px;
    text-align: center;
    color: black;
    height: 150px;
    border-top: solid #FFFDDE;
    max-width: 100vw;
    height: 15vw;

    .tituloContacto {
        padding-top: 15px;

        .tituloDeContacto {
            padding-top: 15px;
        }
    }

}

/* logos redes sociales */

.logosDeContacto {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding-top: 20px;

    .logosIndividuales {
        width: 35px;
        height: 35px;
    }
}