@import '../base/variables';
@import '../base/mapas';

/*FOOTER*/

.pieDePagina {
    font-family: 'Text Me One', sans-serif;
    font-size: map-get($footer, font-size);
    background-color: $bg-color-hyf;
    text-align: center;
    color: map-get($footer, color);
    border-top: solid #FFFDDE;
    max-width: 100vw;
    height: auto; 

    .tituloContacto {
        padding-top: 15px;
        font-family: $fuente-titulo;

        .textoDeContacto {
            padding-top: 20px;
         

        }
    }

}

/* logos redes sociales */

.logosDeContacto {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding:10px;

    .logosIndividuales {
        width: 45px;
        height: 45px;
        padding: 4px;
    }
}