@import '../base/variables';
@import '../base/extends';

header {


    .navNuevo {

        font-family: 'Text Me One', sans-serif;
        display: flex;
        justify-content: flex-end;
        @extend %header;

        .container-fluid {

            .logoNavbar {
               
                height: 90px;

            }
        }
    }
}

.navbar-nav {

    .opcionesNav {


        &:hover {
            text-decoration: underline;
        }
    }
}