header {

    .navNuevo {
        background-color: #FFF89A;
        font-family: 'Text Me One', sans-serif;
        font-size: 20px;
        border-bottom: solid #FFFDDE;
        display: flex;
        justify-content: flex-end;


        .container-fluid {

            .logoNavbar {
                width: 140px;
                height: 100px;

                .navbar-nav { 
                    
                    .opcionesMenu {
                        display: flex;
                        justify-content: end;
                        
                        
                    }
                }
            }
        }
    }
}

.navbar-nav {

    .opcionesNav {


        &:hover {
            text-decoration: underline;
        }
    }
}