@import '../base/variables';

/* FUENTES */
@font-face {
    font-family: $fuente-titulo;
    src: url(tipografias/tipografianueva.woff);
    font-display: swap;
}

/* Carrusel */

.tituloCarousel {
    position: absolute;
    right: 15%;
    top: 5%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;

    .tituloInicio {
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: "tipografianueva";
        letter-spacing: 5px;
        line-height: 50px;

        /* ANIMACIONES TITULO INDEX*/

        &:hover {
            letter-spacing: 0%;
            font-size: 35px;
            transition: all 2s;
            transform: scale(2)
        }
    }
}

/* TITULOS MEDIA QUERY DISPLAY NONE */
main {
    .tituloMediaQuery {
        display: none;
    }
}

main {

    .subtituloIndex {
        display: none;

    }
}

/* CARRUSEL EDIT */
main {
    background-color: #fff89a94;
    height: auto;

    section {

        .carrusel {
            padding: 1%
        }
    }

}

main {
    .tituloDos {
        .subtituloDos {
            color: black;
            font-size: 30px;
            font-family: "tipografianueva";
            letter-spacing: 5px;
            line-height: 50px;
            display: flex;
            justify-content: center;
            text-align: center;


        }
    }
}

/* IMAGEN CARRITO */
main {
    .imagenCarrito {

        .carritoCompras {
            width: 80px;
            position: relative;
            left: 48%;
            padding-bottom: 2%;

        }
    }
}