/* RESPONSIVE MOBILE */

@media screen and (max-width:450px) {

    /* HEADER */
    header {
        .navNuevo {


            .container-fluid {

                .logoNavbar {
                    width: 70px;
                    height: 50px;

                    .opcionesMenu {
                        display: flex;
                        justify-content: start;


                    }

                }
            }
        }
    }

    /* FOOTER */
    .pieDePagina {

        background-color: #FFF89A;
        font-family: 'Text Me One', sans-serif;
        font-size: 15px;
        text-align: center;
        color: black;
        width: 100vw;
        height: auto;


        .tituloContacto {
            position: relative;
            left: 1%;

            .tituloDeContacto {
                display: flex;
                justify-content: center;
                position: relative;
                left: 1%;
            }
        }

    }

    /* logos redes sociales */

    .logosDeContacto {


        .logosIndividuales {
            width: 25px;
            height: 25px;
        }
    }

    /* NOSOTROS MOBILE */
    .contenidoPrincipal {
        width: 100vw;
        background-image: url(imagenes/fotomobilenosotros.png);
        padding: 0%;

        section {

            .presentacionNosotros {
                font-size: 20px;
                background-color: #fcd9b2ab;
                width: 66vw;

            }
        }
    }

    /* PRODUCTOS MOBILE */

    .mainProductos {

        .tituloProductos {

            padding-top: 5%;
            display: flex;
            text-align: center;
            font-size: 15px;
            line-height: 2;

        }


    }

    /* GRID GALERIA PRODUCTOS */

    .galeriaProductos {

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        width: 100vw;
        padding: 10%;

        .productosItem {
            width: 350px;
            height: 350px;
            -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
            -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
            box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);

        }

    }

    /* ALQUILER DE ESPACIOS MOBILE */

    .mainAlquilerDeEspacios {

        div {

            .subtituloAlquiler {
                font-size: 15px;
                text-align: center;
                width: 100vw;
                position: relative;
                left: 0px;


            }
        }
    }

    .galeria {
        .titulosEspaciosDeAlquiler {
            font-size: 18px;
            position: relative;
            right: 0px;
            line-height: 2;
        }
    }

    /*GALERIA ALQUILER DE ESPACIOS GRID*/

    .galeriaAlquiler {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-items: center;
        position: relative;
        right: 12px;


    }

}

/* RESPONSIVE TABLET */

@media screen and (min-width:451px) and (max-width:960px) {

    /* FOOTER */

    .pieDePagina {

        height: auto;
    }

    /* PRODUCTOS TABLET*/

    .mainProductos {

        .tituloProductos {

            font-size: 20px;
            padding-right: 10%;
            padding-top: 5%;

        }


    }

    /* GRID GALERIA PRODUCTOS */

    .galeriaProductos {

        display: grid;
        grid-template-columns: 230px 230px 230px;
        grid-template-rows: 230px 230px 230px;
        width: 91vw;
        padding: 2%;

        .productosItem {
            width: 230px;
            height: 230px;
            display: flex;
        }

    }

    /* ALQUILER DE ESPACIOS MOBILE */

    .mainAlquilerDeEspacios {

        div {

            .subtituloAlquiler {
                font-size: 15px;
                text-align: center;
                width: 95vw;
                position: relative;
                left: 0px;

            }
        }
    }

    .galeria {
        .titulosEspaciosDeAlquiler {
            font-size: 10px;
            width: 100vw;
            position: relative;
            right: 12px;
            line-height: 2;
        }
    }

    /*GALERIA ALQUILER DE ESPACIOS GRID*/

    .galeriaAlquiler {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 10px;
        justify-items: center;
        position: relative;
        right: 12px;

        .fotosAlquiler {
            width: 180px;
            height: 180px;
        }


    }

}