@import '../base/variables';

.contenidoPrincipal {
    display: flex;
    justify-content: center;
    background-image: url(imagenes/fondocolornuevo.png);
    background-size: cover;
    width: 100%;
    height: 750px;

    section {

        .textoDePresentacion {
            color: black;
            padding: 69px;
            font-size: 25px;
            font-family: $fuente-titulo;
            position: relative;
            top: 147px;
            text-align: center;
            width: 74vw;
            background-color: #fcfbb2b0;
        }

    }

}

