/*MAIN PRODUCTOS*/
.mainProductos {
    background-color: #FCF7BB;
    width: auto;
    height: auto;
    display: grid;

    .tituloProductos {
        color: black;
        display: flex;
        justify-content: center;
        font-size: 35px;
        font-family: "tipografianueva";
        padding-top: 20px;

       
    }


}

/* GRID GALERIA PRODUCTOS */

.galeriaProductos {
    width: auto;
    height: auto;
    background-color: #FCF7BB;
    display: grid;
    grid-template-rows: 380px 380px 380px;
    grid-template-columns: 380px 380px 380px;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;

    .productosItem {
        width: 350px;
        height: 350px;
        -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.49);

        }

    }