@import '../base/variables' ;

/*MAIN PRODUCTOS*/
.mainProductos {

    background-color: #FCF7BB;
    width: auto;
    height: auto;
    display: grid;

    .tituloProductos {
        color: black;
        display: flex;
        justify-content: center;
        font-size: 35px;
        font-family: $fuente-titulo;
        padding-top: 20px;
    }

}

