/* RESETEO UNIVERSAL*/
* {
    margin: 0%;
    padding: 0%;
}

/* LOGO FIJO WP */
.logoWapp2 {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 2
}



@media screen and (max-width:450px) {
    .logoWapp2 {
       
        display: none;
    }

}